/*****************TAGS SETECTORS*********************/
h1 {
    line-height: 2;
    margin: 0;
    font-family: 'Sacramento', cursive;
    font-size: 100px;
    color: #2d7165;
}

h2 {
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    color: #45b29a;
    font-size: 2em;
    padding: 20px;

}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #317f6e;
    font-size: 1.75em;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
    --bs-gutter-x: 0
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.8;
}
hr {
    border: dotted #9fa9a9 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 40px;
    text-decoration: none;
}
a:hover {
    color: #EAF6F6;
    text-decoration: underline;
}
a:-webkit-any-link {
    cursor: pointer;
    
}
/*****************CLASSES SETECTORS*********************/

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 150px;
    overflow: hidden; 


}

.middle-container {
    background-color: #fafafa;
    position: relative;
    overflow: hidden;

}
.skill-row{
    padding-left: 15rem;
}

.bottom-container {
   
    background-color: #66BFBF;
    color: #11999E;
    position: relative;
    overflow: hidden;
    padding: 40px 0px 20px;

}
.row-gap{
    margin-top: 5rem;
}
.importanttext {
    /*text-decoration: underline;*/
    font-family: 'Merriweather', serif;
    font-style: italic;
}

.top-cloud {
    position: absolute;
    right: 200px;
    top: 50px;
    

}

 .bottom-cloud {
    position: absolute;
    left: 200px;
    top: 500px;

} 

.mountain {
    margin-top: 100px;
    max-width: 100%;
    width: 100%; /* add this line */
    height: auto; /* add this line */
}

.h2photos {
    padding-top: 5em;
    vertical-align: center;
}


.footer-link{
    margin: 100px;
}
.btn {
    background: #11cdd4;
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 15px 25px 15px 25px;
    margin: 50px;
    text-decoration: none;
}
.copyright {
    color: #EAF6F6;
    font-size: 1rem;
    padding: 20px 0;
    font-weight: bold;
    font-weight: normal;
}


.btn:hover {
    background: #30e3cb;
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);

}
.row{
    --bs-gutter-x: 0
}
.col{
    overflow: hidden;
}
/*****************IDs SETECTORS*********************/


/* media query */

@media only screen and (max-width: 992px) {
  .top-cloud {
    position: absolute;
    right: -70px;
    top: 50px;
  }

  .bottom-cloud {
    position: absolute;
    left: -70px;
    bottom: 500px;
  }
  p{
    margin: 2rem;
    /*font-size:3rem;*/
  }
  /*
  h2{
    font-size:6rem;
  }

  h3{
    font-size:5rem;
  }
*/
}

  
  